#root {
  max-width: 1280px;
  margin: 0 auto;
  
}
box{
  margin: 300px;
  width: 300px;
  height: 300px;
  align-items: center;
  text-align: center; 
}
card{
margin: 300px;
  width: 300px;
  height: 300px;
  align-items: center;
  text-align: center; 
}


